.social-layer {
  display: inline-block;
  text-align: center;
  width: 100%;
  color: #666;
  font-size: 0.9em;

  .social-icons {
    li {
      display: inline-block;
    }

    a {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      text-decoration: none;
    }
    .fa-stack {
      width: 1em;
      height: 1em;
      line-height: 1;
    }
    .fa-circle {
      display: none;
    }
    .fa-inverse {
      color: #6b6b6b;
    }
  }
}
