.social-layer {
  display: inline-block;
  text-align: center;
  width: 100%;
  color: #666;
  font-size: 0.9em;

  .social-icons {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 0.6rem;
      li {
        display: inline-block;

        a {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          width: 36px;
          height: 36px;
          border-radius: 50%;
          background: #f5f5f5;
          color: #555;
          text-decoration: none;
          border: none;
          transition: all 0.2s ease;

          i {
            font-size: 16px;
            line-height: 1;
          }

          &:hover {
            background: #2a7ce0;
            color: #fff;
          }
        }
      }
    }
  }
}
