.social-layer {
  display: inline-block;
  text-align: center;
  width: 100%;
  color: #7a7a7a;
  font-size: 0.9em;

  .social-icons {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 0.5rem;
    }

    li {
      display: inline-block;
    }

    a {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 36px;
      height: 36px;
      text-decoration: none;
    }

    .fa-circle {
      display: none;
    }

    .fa-stack {
      width: 1em;
      height: 1em;
      line-height: 1;
    }

    .fa-inverse {
      color: #7a7a7a;
    }
  }
}
