.container {
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
}

main,
footer,
.nav-container {
  display: block;
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
}

.nav {
  box-shadow: 0 2px 4px -2px $shadow-color;
  overflow: auto;
  background-color: #fff;
  border-radius: 0 0 8px 8px;

  &-container {
    margin: 0.2rem auto;
    position: relative;
    text-align: center;
    padding: 0.2rem 0;
    min-height: 0;
    line-height: 2;
  }

  &-title {
    @include transition(all .2s ease-out);
    color: $default-color;
    display: inline-block;
    margin: 0;
    padding-right: .2rem;
    font-size: 1.4rem;
    font-weight: bold;
    
    &:empty {
      display: none;
    }

    &:hover,
    &:focus {
      opacity: .6;
    }
  }

  ul {
    list-style-type: none;
    margin: 0.4rem 0 0;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 0.8rem;
    flex-wrap: nowrap;
    line-height: 2;
  }

  li {
    @include transition(all .2s ease-out);
    color: $default-color;
    display: inline-block;
    opacity: .8;

    &:last-child {
      padding-right: 0;
    }

    &:hover,
    &:focus {
      opacity: 1;
    }
  }

  a {
    color: $default-color;
    font-family: $sans-serif;
    border-bottom: none;
    line-height: 2;
    display: inline-block;
    
    &:hover {
      color: #2a7ce0;
    }
  }
}

@media (min-width: 600px) {
  .nav {
    &-container {
      text-align: left;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    ul {
      bottom: 0;
      position: static;
      right: 0;
      margin: 0;
    }
  }
}

main {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
  padding: 2rem;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}

footer {
  font-family: $serif-secondary;
  padding: 2rem 0;
  text-align: center;

  span {
    color: $default-color;
    font-size: .8rem;
  }
}